@using TeamManagement.Models;
@{
    ViewBag.Title = "TraneeEntry";
    Company_InformationEntities db = new Company_InformationEntities();
    string name = "";
    if (Model.TraneeId > 0)
    {
        name = "Update";
    }
    else
    {
        name = "Save";
    }
}

<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/eggplant/jquery-ui.css" rel="stylesheet" />
    <div class="theheading1">
        <h4><u>Tranee Information Entry:</u></h4>
    </div>
    <form action="/TM/TraneeEntry" enctype="multipart/form-data" method="post">
        <input type="hidden" name="TraneeId" id="TraneeId" value="@Model.TraneeId" />
        <div class="container">
            <div class="row">
                <div class="row g-3">
                    <div class="col-md-3">
                        <label for="TraneeName" class="form-label">Tranee Name<span class="required1">*</span>: </label>
                        <input type="text" class="form-control"name="TraneeName" id="TraneeName" value="@Model.TraneeName" placeholder="Enter Tranee Name" autocomplete="off" />
                    </div>
                    <div class="col-md-3">
                        <label for="Phone" class="form-label">Phone<span class="required1">*</span>: </label>
                        <input type="text" class="form-control"name="Phone" id="Phone" value="@Model.Phone" placeholder="Enter Tranee Name" autocomplete="off" />
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="division_id">Division<span class="required1">*</span>: </label>
                            <select class="form-control"name="division_id"  id="division_id">
                                <option value="0">Choose Division...</option>
                                @foreach(var item in db.DivisionInfoes)
                                {
                                    if(Model.division_id==item.division_id )
                                    {
                                        <option value="@item.division_id" selected>@item.name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.division_id"  >@item.name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DistrictId">District<span class="required1">*</span>: </label>
                            <select class="form-control"name="DistrictId"   id="DistrictId">
                                <option value="0">Choose District...</option>
                                @foreach(var item in db.DistrictInfoes)
                                {
                                    if(Model.DistrictId==item.DistrictId)
                                    {
                                        <option value="@item.DistrictId" selected>@item.name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.DistrictId" >@item.name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Upazilaid">Upazila Name<span class="required1">*</span> : </label>
                            <select class="form-control"name="Upazilaid" id="Upazilaid">
                                <option value="0">Choose Upazila...</option>
                                @foreach (var item in db.UpazilaInfoes)
                                {
                                    if (Model.Upazilaid == item.Upazilaid)
                                    {
                                        <option value="@item.Upazilaid" selected>@item.name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Upazilaid" >@item.name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TraneeTypeId">Tranee Type<span class="required1">*</span>: </label>
                            <select class="form-control" name="TraneeTypeId" id="TraneeTypeId">
                                <option value="0">Choose Tranee Type ...</option>
                                @foreach (var item in db.TTypeInfoes)
                                {
                                    if (Model.TraneeTypeId == item.TraneeTypeId)
                                    {
                                        <option value="@item.TraneeTypeId" selected>@item.TraneeTypeName</option>
                                    }
                                    else
                                    {
                                        <option value="@item.TraneeTypeId" >@item.TraneeTypeName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="Email" class="form-label">Email<span class="required1">*</span>: </label>
                        <input type="email" class="form-control"name="Email" id="Email" value="@Model.Email" placeholder="Enter Tranee Email" autocomplete="off" />
                    </div>
                    <div class="col-md-3">
                        <label for="Image" class="form-label">Image<span class="required1">*</span>: </label>
                        <input type="file" class="form-control" name="Image" id="Image" />
                    </div>
                    <div class="col-md-3">
                        <label for="JoiningDate">Joining Data<span class="required1">*</span>: </label>
                        <input type="text" class="form-control"name="JoiningDate" id="JoiningDate" value="@Model.JoiningDate" placeholder="dd/MM/yyyy" autocomplete="off" />
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="GenderId" class="form-label">Gender<span class="required1">*</span>: </label>
                            <select  name="GenderId"id="GenderId" class="form-control">
                                <option value="0">Choose Gender Type...</option>
                                @foreach (var item in db.GenderInfoes)
                                {
                                    if (Model.GenderId == item.GenderId)
                                    {
                                        <option value="@item.GenderId" selected>@item.GenName</option>
                                    }
                                    else
                                    {
                                        <option value="@item.GenderId" >@item.GenName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="NID" class="form-label">NID Number<span class="required1">*</span>:</label>
                        <input type="text" class="form-control" name="NID" id="NID" value="@Model.NID" placeholder="Enter Tranee NID Number" autocomplete="off" />
                    </div>
                    <div class="col-md-3">
                        <label for="DOB">Date of Birth<span class="required1">*</span>: </label>
                        <input type="text" class="form-control"name="DOB" id="DOB" value="@Model.DOB" placeholder="dd/MM/yyyy" autocomplete="off" />
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="EStatusId" class="form-label">Employee Status<span class="required1">*</span>: </label>
                            <select name="EStatusId" id="EStatusId" class="form-control">
                                <option value="0">Choose Employee Status...</option>
                               @foreach (var item in db.EStatusInfoes)
                               {
                                   if (Model.EStatusId == item.EStatusId)
                                   {
                                    <option value="@item.EStatusId" selected>@item.EStatusName</option>
                                   }
                                   else
                                   {
                                    <option value="@item.EStatusId" >@item.EStatusName</option>
                                   }
                               }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PStatusId" class="form-label">Performance Status<span class="required1">*</span>: </label>
                            <select name="PStatusId" id="PStatusId" class="form-control">
                                <option value="0">Choose Performance Status...</option>
                                @foreach (var item in db.PStatusInfoes)
                                {
                                    if (Model.PStatusId == item.PStatusId)
                                    {
                                        <option value="@item.PStatusId" selected>@item.PStatusName</option>
                                    }
                                    else
                                    {
                                        <option value="@item.PStatusId" >@item.PStatusName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="BloodGroup" class="form-label">Blood Group<span class="required1">*</span>: </label>
                        <input type="text" class="form-control"name="BloodGroup" id="BloodGroup" value="@Model.BloodGroup" placeholder="Enter Blood Group" autocomplete="off" />
                    </div>
                    <div class="col-md-3">
                        <label for="percentage" class="form-label">Percentage<span class="required1">*</span>: </label>
                        <input type="text" class="form-control"name="percentage" id="percentage"value="@Model.percentage" placeholder="Percentage"autocomplete="off" />
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align:center">
            <input type="submit" id="submit" class="btn btn-success" value="@name" />
        </div>
    </form>
<br />
<form>
    <div class="form-group">
        <div style="overflow-x:auto">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Tranee Name</th>
                    <th>Phone</th>
                    <th>Division</th>
                    <th>District</th>
                    <th>Upazila</th>
                    <th>Tranee Type</th>
                    <th>Email</th>
                    <th>Image</th>
                    <th>Joining Data</th>
                    <th>Gender</th>
                    <th>NID Number</th>
                    <th>Date of Birth</th>
                    <th>Employee Status</th>
                    <th>Performance Status</th>
                    <th>Blood Group</th>
                    <th>Percentage</th>
                    <th>Edit || Delete</th>
                </tr>
                @foreach (var item in db.TraneeInfoes)
            {
                    <tr>
                        <td>@item.TraneeName</td>
                        <td>@item.Phone</td>

                        @foreach (var item1 in db.DivisionInfoes)
                        {
                            if (item1.division_id == item.division_id)
                            {
                                <td>@item1.name</td>
                            }
                        }

                        @foreach (var item2 in db.DistrictInfoes)
                        {
                            if (item2.DistrictId == item.DistrictId)
                            {
                                <td>@item2.name</td>
                            }
                        }

                        @foreach (var item3 in db.UpazilaInfoes)
                        {
                            if (item3.Upazilaid == item.Upazilaid)
                            {
                                <td>@item3.name</td>
                            }
                        }

                        @foreach (var item4 in db.TTypeInfoes)
                        {
                            if (item4.TraneeTypeId == item.TraneeTypeId)
                            {
                                <td>@item4.TraneeTypeName</td>
                            }
                        }

                        <td>@item.Email</td>
                        <td>@item.Image</td>
                        <td>@item.JoiningDate</td>

                        @foreach (var item5 in db.GenderInfoes)
                        {
                            if (item5.GenderId == item.GenderId)
                            {
                                <td>@item5.GenName</td>
                            }
                        }

                        <td>@item.NID</td>
                        <td>@item.DOB</td>

                        @foreach (var item6 in db.EStatusInfoes)
                        {
                            if (item6.EStatusId == item.EStatusId)
                            {
                                <td>@item6.EStatusName</td>
                            }
                        }

                        @foreach (var item7 in db.PStatusInfoes)
                        {
                            if (item7.PStatusId == item.PStatusId)
                            {
                                <td>@item7.PStatusName</td>
                            }
                        }

                        <td>@item.BloodGroup</td>
                        <td>@item.percentage</td>

                        <td>
                            <a href="/TM/TraneeEntry?TId=@item.TraneeId">Edit</a> ||
                            <a href="/TM/delTraneeEntry?TId=@item.TraneeId">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#JoiningDate').datepicker({
                changerYear: true,
                changerMonth: true,
                dateFormat: 'dd/mm/yy',
                altField: $(this).val(),
                yearRange:'-150:+0'
                });
        });
        $(function () {
            $('#DOB').datepicker({
                changerYear: true,
                changerMonth: true,
                dateFormat: 'dd/mm/yy',
                altField: $(this).val(),
                yearRange: '-150:+0'
            });
        });
        $(function () {
            $('#division_id').change(function () {
                $('#DistrictId').empty();
                $.get("/TM/GetDisAPI", { divid: $('#division_id').val() }, function (data) {
                    // var sl = 1;
                    $.each(data, function (index, row) {
                        //alert(row[index][1]);
                        var row1 = '<option value="' + row.DistrictId + '">' + row.name + '</option>';
                        $('#DistrictId').append(row1);
                        // sl++;
                        //return false;
                    });
                });
            });
        });
        $(function () {
            $('#DistrictId').change(function () {
                $('#Upazilaid').empty();
                $.get("/TM/GetUpAPI", { disId: $('#DistrictId').val() }, function (data) {
                    // var sl = 1;
                    $.each(data, function (index, row) {
                        //alert(row[index][1]);
                        var row2 = '<option value="' + row.Upazilaid + '">' + row.name + '</option>';
                        $('#Upazilaid').append(row2);
                        // sl++;
                        //return false;
                    });
                });
            });
        });

        $(function () {
            $('#submit').click(function () {
                if ($('#TraneeName').val().trim() == "") {
                    //If the "Please Select" option is selected display error.
                    alert("Please Enter Tranee Name!");
                    return false;
                }
                if ($('#Phone').val().trim() == "") {
                    alert("Please Enter Phone Number!");
                    return false;
                }
                if ($('#division_id').val() == 0) {
                    //If the "Please Select" option is selected display error.
                    alert("Please select Division!");
                    return false;
                }
                if ($('#DistrictId').val() == 0) {
                    alert("Please select District!");
                    return false;
                }
                if ($('#Upazilaid').val() == 0) {
                    alert("Please select Upazila!");
                    return false;
                }
                if ($('#TraneeTypeId').val() == 0) {
                    alert("Please select Tranee Type!");
                    return false;
                }
                if ($('#Email').val().trim() == "") {
                    //If the "Please Select" option is selected display error.
                    alert("Please Enter Email!");
                    return false;
                }
                if ($('#Image').val().trim() == "") {
                    //If the "Please Select" option is selected display error.
                    alert("Choose Your Image!");
                    return false;
                }
                if ($('#JoiningDate').val() == 0) {
                    alert("Please select Joining Date!");
                    return false;
                }
                if ($('#GenderId').val() == 0) {
                    alert("Please select Gender Type!");
                    return false;
                }
                if ($('#NID').val().trim() == "") {
                    alert("Please Enter NID Number!");
                    return false;
                }
                if ($('#DOB').val() == 0) {
                    alert("Please select Date of Birth!");
                    return false;
                }
                if ($('#EStatusId').val() == 0) {
                    alert("Please select Employee Status!");
                    return false;
                }
                if ($('#PStatusId').val() == 0) {
                    alert("Please select Performance Status!");
                    return false;
                }
                if ($('#BloodGroup').val().trim() == "") {
                    alert("Please Enter Blood Group!");
                    return false;
                }
                if ($('#percentage').val().trim() == "") {
                    alert("Please Enter percentage!");
                    return false;
                }


            });
        });

    </script>

}





 
